*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

/* shared styles */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: bolder;
}

.color-orange{
    color:#FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    /* height: 65px;
    width: 150px; */
    padding: 18px 35px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* main styles */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}